extends ../layouts/default

block main
	h2 Active tasks
	a.new(href='/tasks/new', title="new task") New task
    
block content
	div#filtres
		form.form-inline
			fieldset
				legend Filters
				label.control-label(for='projet', style = 'padding-right:5px;') Project :
				select#projet.input-large(type='text', name="project_filter", placeholder='Select projects')
					option(value = "") Select a project
					each project in collections.projects
						option(value = project.id, selected = project_filter == project._id) [#{project.number}] - #{project.title}
				label.control-label(for='user', style = 'padding-left : 20px; padding-right:5px;') Assigned to : 
				select#user.input-large(type='text', name="user_filter", placeholder='Choisir utilisateurs')
					option(value = "") Select a user
					each user in collections.users
						option(value = user.id, selected = user_filter == user._id) #{user.name}
				button.btn(type='submit', style = 'margin-left : 10px;') Filter

	legend Tasks
	if (tasks.length > 0)
		div.container
			table.table.table-striped.table-bordered.small(id = "tasks", border = 0, cellspacing = 0, cellpadding = 0)
				thead.task-header
					tr
						th #
						th Project
						th Task
						th %
						th(width = 95) Assigned to
						th Priority
						th Due date
						th(width = 95) Quick actions
				tbody
					each task in tasks
						//tr(class = task.isLate ? "error" : "")
						tr
							td
								b= task.number
							td
								[#{task.project.number}] - #{task.project.title}
							td 
								a(href = '#', id = 'task-task-' + task.number, data-type='textarea', data-name = "task", data-pk=task.id, data-original-title = "Task", data-url="/tasks/quicksave")= task.task
							td
								a(href = '#', id = 'task-completion-' + task.number, data-name = "completion", data-type='text', data-pk=task.id, data-original-title = "Task Completion (%)", data-url="/tasks/quicksave", data-emptytext = "0%", data-value = task.completion)= task.completion + "%"
							td 
								if (task.assigned_to)
									a(href = '#', id = 'task-assignedto-' + task.number, data-name = "assigned_to", data-type='select', data-pk=task.id, data-original-title = "Task assigned to", data-url="/tasks/quicksave", data-value = task.assigned_to.id)= task.assigned_to.name
								else
									a(href = '#', id = 'task-assignedto-' + task.number, data-name = "assigned_to", data-type='select', data-pk=task.id, data-original-title = "Task assigned to", data-url="/tasks/quicksave") 
							td.align-center
								- var clsPriority = "";
								case task.priority
									when "Very high"
										clsPriority = "icon-circle-arrow-up";
									when "High"
										clsPriority = "icon-arrow-up";
									when "Normal"
										clsPriority = "icon-arrow-down";
									when "Low"
										clsPriority = "icon-circle-arrow-down";
								a(href = '#', id = 'task-priority-' + task.number, class = clsPriority, data-type='select', data-name = "priority", data-pk=task.id, data-original-title = "Task Priority", data-url="/tasks/quicksave", data-value = task.priority, data-autotext = "never")
							td.align-center
								a(href = '#', id = 'task-duedate-' + task.number, class = task.isLate ? "red" : "", data-type='date', data-name = "due_date", data-pk=task.id, data-original-title = "Task Due For", data-url="/tasks/quicksave")= task.due_date ? task.due_date_yyyymmdd : ''
							td.align-center
								a(href = '#', style = 'margin : 0px 1px;', rel = "tooltip", title = "Mark as finished")
									span.img.icon-check
								a(href = '/tasks/' + task._id, style = 'margin : 0px 1px;', rel = "tooltip", title = "View details")
									span.img.icon-search
								a(href = '/tasks/' + task._id + '/edit', style = 'margin : 0px 1px;', rel = "tooltip", title = "Edit")
									span.img.icon-pencil
								a.confirm(href = '#', style = 'margin : 0px 1px;', title = "Delete", rel = "tooltip")
									span.img.icon-remove            
								a(href = '#myModal', style = 'margin : 0px 1px;', rel = "tooltip", title = "View worklogs (" + task.worklogs.length +")", data-toggle="modal")
									span.img.icon-comment    
		
		//if (pages > 1)
		//	.pagination.align-center
		//		ul
		//			!= createPagination(pages, page)
	else
		div
			i No data found
				
	div#myModal.modal.hide.fade
		div.modal-header
			button.close(type="button", data-dismiss="#modal", aria-hidden="true")&times;
			h3 Worklogs for (mettre le nom de la Task)
		div.modal-body
			p Worklogs listing (lister toutes les travaux)
			p -
			p -
			p Add (mettre le formulaire d'entrée)
		div.modal-footer
			a.btn Close
			a.btn.btn-primary Save Changes
