extends ../layouts/default

block content
	.row
		.span8.task-title #{task.task}
		.align-right
			a.btn.btn-small(href='/tasks/'+task._id+'/edit', title="edit") Edit
			&nbsp;&nbsp;
			input(type="hidden", name="_method", value="DELETE")
			button.btn.btn-danger.btn-small(type="submit") Delete
	.row
		.span8
<<<<<<< HEAD
			div#details-module.section.toggle-wrap(data-toggle = "collapse", data-target="#details-section-collapsible")
				div.section-header
					div.toggle-title Task Information
				div#details-section-collapsible.section-content.collapse.in
=======
			div.task-container
				div.task-header Task information-
				div.task-content
>>>>>>> 3b6c8d097a89cb5a88c35cfe60083c31273118c9
					dl
						dt Project
						dd [#{task.project.number}] - #{task.project.title}
					dl
						dt Status
						dd ----------Code me---------------
					dl
						dt Priority
						dd
							- var clsPriority = "";
							case task.priority
								when "Very high"
									clsPriority = "icon-circle-arrow-up";
								when "High"
									clsPriority = "icon-arrow-up";
								when "Normal"
									clsPriority = "icon-arrow-down";
								when "Low"
									clsPriority = "icon-circle-arrow-down";
							i(class = clsPriority)
							&nbsp;
							= task.priority
					dl
						dt Completion
						dd 
							div.progress.background-completion
								div.bar.bar-success(style = "padding-left : 5px; color : #222; width:" + task.completion + "%")= task.completion +"%"
					dl
						dt Assigned to
						dd
							if (task.assigned_to)
								a(href="/users/"+task.assigned_to._id)
									i.icon-user 
									&nbsp;
									= task.assigned_to.name
							else
								span N/A
					dl
						dt Due date
						dd= (task.due_date ? formatDate(task.due_date, "%b %d, %Y at %I:%M %p") : "None")			
			div#description-module.section.toggle-wrap(data-toggle = "collapse", data-target="#description-module-collapsible")
				div.section-header
					div.toggle-title Description
				div#description-module-collapsible.section-content.collapse.in
					div= task.description ? task.description : "N/A"
			
			hr		
			div.creation-modification
				if (task.created_by)
					i Created by #{task.created_by.name} on #{formatDate(task.created_date, "%b %d, %Y at %I:%M %p")}
				if (task.modified_by)
					br
					i Last modified by #{task.modified_by.name} on #{formatDate(task.modified_date, "%b %d, %Y at %I:%M %p")}	
		.span4
			div.worklogs-container
				div.worklogs-header Worklogs (#{task.worklogs.length})
				
				div.worklogs-content									
					if (task.worklogs.length > 0)
						each worklog in task.worklogs
							include ../worklogs/worklog
					else
						div(style = "margin : 10px;") 
							i No worklogs yet
					include ../worklogs/form