extends ../layouts/default

block main
	h2 Documents 
	div.btn-group
		a.btn(href='#')
			i.icon-file
			= " Upload New File"
		a.btn(href='#')
			i.icon-folder-close
			= " Create Folder"
			
block content
	div.tabbable.tabs-left#projecttabs(style = "margin-top : 20px;")
		ul.nav.nav-tabs
			each project in projects
				li(class = (project.number == selectedproject) ? 'active' : '')
					a.tab.ellipsistab(href = '#' + project.number, data-toggle = "tab", title = project.title, number = project.number) 
						b= project.number
						br 
						i(style = 'color : #000')= project.title


		div.tab-content						
			if (files.length > 0) 
				h4= selectedproject
				each file in files
					if (file.type == "dir")
						div.folder-section-header
							i.icon-folder-open
							&nbsp;
							span= file.name 
					else if (file.type == "file")
						div.doc-section-row
							table.table.table-condensed
								tr
									td(width = 16)
										i.icon-file
									td
										a(href = file.path, target = "_blank") #{file.name} 
									td.align-right(width = 90)
										span #{formatDate(file.stat.ctime, "%b %d, %Y at %I:%M %p")}
									td.align-right(width = 16)
										a(href = '#', action = "delete", style = 'margin : 0px 1px;', title = "Delete", rel = "tooltip",)
											span.img.icon-remove            
			else if (!selectedproject)
				i Please select a project
			else
				i No files available
