block content
	div.modal-header(style = "margin-bottom : 15px;")
		button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
		h3 Quick Project Creation
		
	- var action = '/projects'
	if (!project.isNew)
		- action += '/'+project.id

	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
		ul
			each error in errors
				li= error.type

	.row
		.span7
			form.form-horizontal(method="post", action=action, enctype="multipart/form-data")
				if (!project.isNew)
					input(type="hidden", name="_method", value="PUT")

				.control-group
					label.control-label(for='title') Title
					.controls
						input#title.input-xlarge(type='text', name="title", value=project.title, placeholder='Enter the title')

				.control-group
					label.control-label(for='number') Number
					.controls
						input#number.input-xlarge(type='text', name="number", value=project.number, placeholder='Enter the project number')

				.control-group
					label.control-label(for='description') Description
					.controls
						textarea#description.input-xlarge(type='text', rows="5", name="description", placeholder='Enter the project description')=project.description

				.control-group
					label.control-label(for='contacts') Contacts
					.controls
						select#contacts.input-xlarge(type='text', name="contacts", placeholder='Enter the contacts', multiple = true)
							each contact in contacts
								option(value = contact.id, selected = (project.contacts.indexOf(contact.id) > -1)) #{contact.lastname}, #{contact.firstname} 

				.control-group
					label.control-label(for='tags') Tags
					.controls
						input#tags(type='text', name="tags", value=project.tags, placeholder='Enter the tags')

				.form-actions
					button.btn.btn-primary(type='submit') Save and Continue
					&nbsp;
					a.btn(type='submit') Save and View 
						i.icon-arrow-right 
