extends ../layouts/default

block main
  h1.left #{project.title} (#{project.number})

block content
  .row
    .span9
      p=project.description
      p.author
        span Author :&nbsp;
        a(href="/users/"+project.user._id)=project.user.name
      .date= formatDate(project.createdAt, "%b %d, %Y at %I:%M %p")
      if (project.tags)
        .tags
          | Tags :&nbsp;
          each tag in project.tags.split(',')
            a.tag(href="/tags/"+tag)
              i.icon-tags
              |  #{tag}
    .span3
      if (!project.isNew && project.image && project.image.files && project.image.files.length)
        img(src=project.image.cdnUri + '/mini_' + project.image.files[0])

  p
    br
    form.center.form-inline.confirm(action="/projects/"+project.id, method="post")
      a.btn(href='/projects/'+project._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") Delete

  p
    br
    h2 Comments
    each comment in project.comments
      include ../comments/comment
    include ../comments/form
